.benefits { display: flex; }

.benefits__item { 
   width: 270px; 

   &:not(:last-child) { margin-right: 30px; }
}

.benefits__thumb { 
   display: flex;
   align-items: center;
   justify-content: center;

   height: 120px;
   margin-bottom: 30px;

   background-color: var(--bcg-team-color); 
   border-radius: 4px;
}

.benefits__icon { height: 70px; }

.benefits__title { 
   margin-bottom: 10px; 
   font-size: 14px;
   line-height: 1.14;
   @extend %uppercase-text;
   color: var(--title-color);
}

.benefits__text {
   font-size: 14px;
   line-height: 1.7;   
}
