.contacts__item:not(:last-child) {
   @media screen and (min-width: 768px) and (max-width: 1199.98px) { margin-bottom: 10px; }
}

.contacts__item + .contacts__item { @media screen and (min-width: 1200px) { margin-left: 50px; } }

.contacts__link { 
   width: 100%;
   align-items: center;

   color: var(--main-text-color); 

   transition: color var(--trans-duration) var(--trans-timing);

   &:hover,
   &:focus {
      @extend %accent-color;
   }

   @media screen and (max-width: 1199.98px) { font-size: 12px; }

   @media screen and (min-width: 1200px) { 
      display: flex; 
      padding-top: 32px;
      padding-bottom: 32px;
   } 
}

.contacts__icon { 
   margin-right: 10px;

   stroke: currentColor;
}

.contacts-block {
   width: 270px;
   margin-bottom: 60px;

   @media screen and (min-width: 768px) and (max-width: 1199.98px) { 
      width: 354px;
      justify-content: flex-start; 
   }

   @media screen and (min-width: 1200px) { 
      margin-bottom: 0;
      margin-right: 30px; 
   }
}

.contacts-block:first-child { 
   @media screen and (min-width: 768px) and (max-width: 1199.98px) { margin-right: 30px; }
}

.contacts__item-footer {
   font-size: 14px;
   font-style: normal;
   line-height: 1.7;

   &:not(:first-child) { margin-top: 9px; }
}

.contacts__link-footer { 
   color: var(--footer-contacts-color); 

   transition: color var(--trans-duration) var(--trans-timing);

   &:hover,
   &:focus {
      @extend %accent-color;
   }
}

.contacts__map {
   color: var(--body-hero-color);

   transition: color var(--trans-duration) var(--trans-timing);
}
