.footer-links {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--bcg-footer-color);

   @media screen and (max-width: 1200px) { text-align: center; }
}

.container__footer-links { 
   display: flex;
   max-width: 1200px;
   align-items: baseline;
   flex-wrap: wrap;
   justify-content: center;

   font-family: var(--main-font); 

   
}

.address-links { margin-top: 20px; }
