.footer-links {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--bcg-footer-color);
}

.container__footer-links { 
   display: flex;
   width: 1200px;
   align-items: baseline;
   flex-wrap: nowrap;

   font-family: var(--main-font); 
}

.address-links { margin-top: 20px; }
