.form__field {
   display: inline-block;

   width: 100%;
   margin-top: 12px;

   font-size: 12px;
   line-height: 1.16;
   letter-spacing: .01em;
   text-align: left; 
}

.form__input {
   width: 100%;
   height: 40px;
   padding: 11px 12px 11px 39px;

   @extend %border-modal;  

   &:focus { @extend %border-accent; }

   &:focus:invalid {
      color: red;
      fill: red;

      border-color: red;
   }
}

.form__icon {
   position: absolute;
   bottom: 11px;
   left: 12px;

   width: 18px;
   height: 18px;

   fill: var(--title-color);
   transition: fill var(--trans-duration) var(--trans-timing);

   .form__input:focus + & { @extend %accent-fill; }
   
   .form__input:focus:invalid + & {
      color: red;
      fill: red;

      border-color: red;
   }
}

.form__field-footer { margin-top: 0; }

.form__input-footer {
   height: 50px;
   margin-bottom: 20px;
   padding: 15px 16px;

   color: var(--body-hero-color);

   background: transparent;
   border: 1px solid var(--border-footer-mail);
   border-radius: 4px;
   outline: none;
   filter: var(--input-footer-mail);
   transition: border var(--trans-duration) var(--trans-timing);

   &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: var(--placeholder-footer);
   }

   &:focus { @extend %border-accent; }

   &:focus:invalid {
      color: red;
      fill: red;

      border-color: red;
   }

   @media screen and (min-width: 480px) and (max-width: 1199.98px) {
   width: 450px;
   margin-left: auto;
   margin-right: auto;
   }

   @media screen and (min-width: 1200px) { 
      width: 358px;
      margin-bottom: 0; 
   }
}
