.header-links {
   /* Для фиксированого хедера
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;*/

   font-size: 14px;
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: .02em;

   border: 1px solid var(--header-border);
}

.header-links__contacts { 
   display: none;

   @media screen and (min-width: 768px) { 
      display: flex; 
      margin-left: auto;
   }
   
   @media screen and (min-width: 768px) and (max-width: 1199.98px) { flex-direction: column; }
}
