.subscription { 
   margin-left: auto;
   margin-right: auto;
}

.subscription__wrapper { 
   display: flex;
   align-items: center;
   flex-wrap: wrap;

   @media screen and (min-width: 1200px) { flex-wrap: nowrap; }
}

.subscription__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   padding-left: 28px;
   padding-right: 29px;

   &:hover,
   &:focus {
      @extend %bcg-focus;
   }

   &::after .subscription__icon {
      width: 24px;
      height: 24px;

      content: "";
   }

   @media screen and (min-width: 1200px) { margin-left: 12px; }
}

.subscription__icon {
   width: 24px;
   height: 24px;
   margin-left: 10px;

   fill: var(--body-hero-color);
}
