.list { 
   list-style: none; 
   padding-left: 0;
	margin: 0;
}

.link { text-decoration: none; }

.section { 
   padding-top: 60px;
   padding-bottom: 60px;

   @media screen and (min-width: 1200px) { padding: 94px 0; }

   @media screen and (min-width: 1200px) { .main-title { margin-bottom: 50px; } }
}

.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;

   @media screen and (min-width: 1200px) { max-width: 1200px; }

   /*@media screen and (min-width: 480px) { max-width: 480px; background-color: turquoise; }

   @media screen and (min-width: 768px) { max-width: 768px; background-color: rebeccapurple; }

   @media screen and (min-width: 1200px) { max-width: 1200px; background-color: yellow; } */
}

.visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;

   border: 0;
}

.button {
   min-width: 200px;
   padding: 10px 32px;

   font-family: inherit;
   font-size: 16px;
   font-weight: 700;
   line-height: 2;
   letter-spacing: .06em;
   color: var(--body-hero-color);
   text-align: center;
   cursor: pointer;

   background-color: var(--accent-color);
   border: 1px solid transparent;
   border-radius: 4px;
   box-shadow: var(--hero-btn-shadow);
   transition: background-color var(--trans-duration) var(--trans-timing);
}

.main-title {
   margin-bottom: 30px;

   font-size: 28px;
   font-weight: 700;
   line-height: 1.2;
   color: var(--title-color);
   text-align: center;

   @media screen and (min-width: 1200px) { font-size: 36px; }
}
